<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor=""c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py"" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\i69social" />
    <add key="WSGI_HANDLER" value="i69social.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="i69social.settings" />
  </appSettings>
</configuration>